<h1 class="page-title">About DelilahBot and Sherpa Run</h1>

<div class="content-with-wrapper">
    <p>Hi, my name is Alec, you may know me better as @aleclev on Discord. I'm the developer behind the DelilahBot.</p>
    <p>DelilahBot is a multipurpose Discord bot made for <a href="discord://discord.gg/sherparun">the Sherpa Run Discord Server</a>. This website allows you to interact with Delilah's functionalities with the convenience of a graphical user interface.</p>
    <p>This project is open source, you can find the source code <a href="https://github.com/aleclev/delilah-bot-ui">here</a>.</p>
</div>
