
<div>
    <mat-form-field class="variable-mat-form-field-50">
        <mat-label>New word</mat-label>
        <input matInput type="text" #newWord placeholder="Word">
    </mat-form-field>
</div>

<div>
    <mat-form-field class="variable-mat-form-field-50">
        <mat-label>New definition</mat-label>
        <textarea matInput #newDefinition rows="4" cols="50" placeholder="Definition"></textarea>
    </mat-form-field>
</div>

<button 
    mat-icon-button color="accent" [disabled]="!showAddEntryButton(newWord.value, newDefinition.value)" (click)="this.addEntry(newWord.value, newDefinition.value)">
    <mat-icon>add</mat-icon>
</button>  