<h1 class="page-title">Dictionary Management</h1>
<p class="page-title">Save a word, access it later in Discord!</p>
<div class="content-with-wrapper">

<mat-accordion>
    <mat-expansion-panel class="dictionary-accordion bg-level-10" (opened)="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Add
        </mat-panel-title>
    
        </mat-expansion-panel-header>
        
        <app-create-entry [dictionary]="dictionary"></app-create-entry>
        
    </mat-expansion-panel>

    <mat-expansion-panel class="dictionary-accordion bg-level-10">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Search/Delete
          </mat-panel-title>
      
          </mat-expansion-panel-header>

          <app-search-entry [dictionary]="dictionary"></app-search-entry>

      </mat-expansion-panel>

  </mat-accordion>

</div>

