/**
* Generated theme by Material Theme Generator
* https://materialtheme.arcsine.dev
* Fork at: https://materialtheme.arcsine.dev/?c=YHBhbGV0dGU$YHByaW1hcnk$YF48IzUzZGFmZiIsIj9lcjwjY2JmNGZmIiwiO2VyPCMzOWNiZmZ$LCIlPmBePCNmZjgxOTkiLCI~ZXI8I2ZmZDllMCIsIjtlcjwjZmY2NDdjfiwid2Fybj5gXjwjZmYwMDAwIiwiP2VyPCNmZmIzYjMiLCI7ZXI8I2ZmMDAwMH4sIj9UZXh0PCMwMDAwMDAiLCI~PTwjZmFmYWZhIiwiO1RleHQ8I2Q3ZmZmYSIsIjs9PCMyMzFkMmR$LCJmb250cz5bYEA8KC00IiwiZmFtaWx5PENvdXJpZXIgUHJpbWV$LGBAPCgtMyIsImZhbWlseTxDb3VyaWVyIFByaW1lfixgQDwoLTIiLCJmYW1pbHk8Q291cmllciBQcmltZX4sYEA8KC0xIiwiZmFtaWx5PENvdXJpZXIgUHJpbWV$LGBAPGhlYWRsaW5lIiwiZmFtaWx5PENvdXJpZXIgUHJpbWV$LGBAPHRpdGxlIiwiZmFtaWx5PENvdXJpZXIgUHJpbWV$LGBAPHN1YiktMiIsImZhbWlseTxDb3VyaWVyIFByaW1lfixgQDxzdWIpLTEiLCJmYW1pbHk8Q291cmllciBQcmltZX4sYEA8Ym9keS0yIiwiZmFtaWx5PENvdXJpZXIgUHJpbWV$LGBAPGJvZHktMSIsImZhbWlseTxDb3VyaWVyIFByaW1lfixgQDxidXR0b24iLCJmYW1pbHk8Q291cmllciBQcmltZX4sYEA8Y2FwdGlvbiIsImZhbWlseTxDb3VyaWVyIFByaW1lfixgQDxpbnB1dCIsImZhbWlseTxDb3VyaWVyIFByaW1lIiwic2l6ZT5udWxsfV0sImljb25zPFR3b1RvbmUiLCI~bmVzcz5mYWxzZSwidmVyc2lvbj4xM30=
*/

@use '@angular/material' as mat;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

// Fonts
@import 'https://fonts.googleapis.com/icon?family=Material+Icons+Two+Tone';
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@300;400;500&display=swap');

@import "variables";
     
$fontConfig: (
  display-4: mat.define-typography-level(112px, 112px, 300, 'Courier Prime', -0.0134em),
  display-3: mat.define-typography-level(56px, 56px, 400, 'Courier Prime', -0.0089em),
  display-2: mat.define-typography-level(45px, 48px, 400, 'Courier Prime', 0.0000em),
  display-1: mat.define-typography-level(34px, 40px, 400, 'Courier Prime', 0.0074em),
  headline: mat.define-typography-level(24px, 32px, 400, 'Courier Prime', 0.0000em),
  title: mat.define-typography-level(20px, 32px, 500, 'Courier Prime', 0.0075em),
  subheading-2: mat.define-typography-level(16px, 28px, 400, 'Courier Prime', 0.0094em),
  subheading-1: mat.define-typography-level(15px, 24px, 500, 'Courier Prime', 0.0067em),
  body-2: mat.define-typography-level(14px, 24px, 500, 'Courier Prime', 0.0179em),
  body-1: mat.define-typography-level(14px, 20px, 400, 'Courier Prime', 0.0179em),
  button: mat.define-typography-level(14px, 14px, 500, 'Courier Prime', 0.0893em),
  caption: mat.define-typography-level(12px, 20px, 400, 'Courier Prime', 0.0333em),
  input: mat.define-typography-level(inherit, 1.125, 400, 'Courier Prime', 1.5px)
);

// Foreground Elements

$mat-light-theme-foreground: (
  base:              black,
  divider:           $dark-dividers,
  dividers:          $dark-dividers,
  disabled:          $dark-disabled-text,
  disabled-button:   rgba($dark-text, 0.26),
  disabled-text:     $dark-disabled-text,
  elevation:         black,
  secondary-text:    $dark-accent-text,
  hint-text:         $dark-disabled-text,
  accent-text:       $dark-accent-text,
  icon:              $dark-accent-text,
  icons:             $dark-accent-text,
  text:              $dark-primary-text,
  slider-min:        $dark-primary-text,
  slider-off:        rgba($dark-text, 0.26),
  slider-off-active: $dark-disabled-text,
);


$mat-dark-theme-foreground: (
  base:              $light-text,
  divider:           $light-dividers,
  dividers:          $light-dividers,
  disabled:          $light-disabled-text,
  disabled-button:   rgba($light-text, 0.3),
  disabled-text:     $light-disabled-text,
  elevation:         black,
  hint-text:         $light-disabled-text,
  secondary-text:    $light-accent-text,
  accent-text:       $light-accent-text,
  icon:              $light-text,
  icons:             $light-text,
  text:              $light-text,
  slider-min:        $light-text,
  slider-off:        rgba($light-text, 0.3),
  slider-off-active: rgba($light-text, 0.3),
);

$mat-light-theme-background: (
  background:               $light-background,
  status-bar:               $light-bg-darker-20,
  app-bar:                  $light-bg-darker-5,
  hover:                    $dark-bg-alpha-4,
  card:                     $light-bg-lighter-5,
  dialog:                   $light-bg-lighter-5,
  tooltip:                  $dark-bg-tooltip,
  disabled-button:          $dark-bg-alpha-12,
  raised-button:            $light-bg-lighter-5,
  focused-button:           $dark-focused,
  selected-button:          $light-bg-darker-20,
  selected-disabled-button: $light-bg-darker-30,
  disabled-button-toggle:   $light-bg-darker-10,
  unselected-chip:          $light-bg-darker-10,
  disabled-list-option:     $light-bg-darker-10,
);

// Background palette for dark themes.
$mat-dark-theme-background: (
  background:               $dark-background,
  status-bar:               $dark-bg-lighter-20,
  app-bar:                  $dark-bg-lighter-5,
  hover:                    $light-bg-alpha-4,
  card:                     $dark-bg-lighter-5,
  dialog:                   $dark-bg-lighter-5,
  tooltip:                  $dark-bg-lighter-20,
  disabled-button:          $light-bg-alpha-12,
  raised-button:            $dark-bg-lighter-5,
  focused-button:           $light-focused,
  selected-button:          $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle:   $dark-bg-lighter-10,
  unselected-chip:          $dark-bg-lighter-20,
  disabled-list-option:     $dark-bg-lighter-10,
);

// Theme Config

body {
  margin: 0;
  --primary-color: #53daff;
  --primary-lighter-color: #cbf4ff;
  --primary-darker-color: #39cbff;
  --text-primary-color: #{$dark-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$dark-primary-text};
}   
$mat-primary: (
  main: #53daff,
  lighter: #cbf4ff,
  darker: #39cbff,
  200: #53daff, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);
$theme-primary: mat.define-palette($mat-primary, main, lighter, darker);


body {
  --accent-color: #ff8199;
  --accent-lighter-color: #ffd9e0;
  --accent-darker-color: #ff647c;
  --text-accent-color: #{$dark-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$dark-primary-text};
}   
$mat-accent: (
  main: #ff8199,
  lighter: #ffd9e0,
  darker: #ff647c,
  200: #ff8199, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);
$theme-accent: mat.define-palette($mat-accent, main, lighter, darker);


body {
  --warn-color: #ff0000;
  --warn-lighter-color: #ffb3b3;
  --warn-darker-color: #ff0000;
  --text-warn-color: #{$light-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$light-primary-text};
}   
$mat-warn: (
  main: #ff0000,
  lighter: #ffb3b3,
  darker: #ff0000,
  200: #ff0000, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-warn: mat.define-palette($mat-warn, main, lighter, darker);
;

$theme: (
  primary: $theme-primary,
  accent: $theme-accent,
  warn: $theme-warn,
  is-dark: true,
  foreground: $mat-dark-theme-foreground,
  background: $mat-dark-theme-background,
);
$altTheme: (
  primary: $theme-primary,
  accent: $theme-accent,
  warn: $theme-warn,
  is-dark: false,
  foreground: $mat-light-theme-foreground,
  background: $mat-light-theme-background,
);

// Theme Init
.theme-dark {
  @include mat.all-component-themes($theme);

  .bg-level-5 {
    background-color: $dark-bg-lighter-5;
  }

  .bg-level-10 {
    background-color: $dark-bg-lighter-10;
  }

  .bg-level-20 {
    background-color: $dark-bg-lighter-20;
  }
}


.theme-light {
  @include mat.all-component-themes($altTheme);

  .bg-level-5 {
    background-color: $light-bg-darker-5;
  }

  .bg-level-10 {
    background-color: $light-bg-darker-10;
  }

  .bg-level-20 {
    background-color: $light-bg-darker-20;
  }
}

// Specific component overrides, pieces that are not in line with the general theming

// Handle buttons appropriately, with respect to line-height
.mat-raised-button, .mat-stroked-button, .mat-flat-button {
  padding: 0 1.15em;
  margin: 0 .65em;
  min-width: 3em;
  line-height: 36.4px;
}

.mat-standard-chip {
  padding: .5em .85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 24px;
  font-family: 'Material Icons Two Tone', 'Material Icons';  
  .mat-badge-content {
    font-family: 'Courier Prime';
  }
}


@include mat.core();
@include mat.ripple();

//@include mat.mat-core();
//@include mat.mat-typography-hierarchy($fontConfig);
@include mat.all-component-themes($theme);
@include mat.all-component-typographies($fontConfig);