/* You can add global styles to this file, and also import other style files */

@import "./assets/theme.scss";
@import "./assets/layout.scss";

h1 {
    @extend .mat-h1;
    color: $accent-primary;
}

h2 {
    @extend .mat-h2;
    color: $accent-primary;
}

h3 {
    @extend .mat-h3;
}

h4 {
    @extend .mat-h4;
}

p {
    @extend .mat-body;
}

a {
    @extend .mat-body-strong;
    color: $accent-primary;
}

img {
    height: auto;
    width: auto;
    max-width: fit-content;
}

.wrapper img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

strong, em {
    color: $accent-primary;
}